/* line 98, sprites/*.png */
.sprites-sprite, .sprites-browser, .sprites-check, .sprites-exit, .sprites-lock, .sprites-mail, .sprites-power, .sprites-print, .sprites-search {
  background: url('/images/sprites-sc0017c2fa0.png') no-repeat;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-browser {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-check {
  background-position: 0 -1012px;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-exit {
  background-position: 0 -433px;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-lock {
  background-position: 0 -867px;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-mail {
  background-position: 0 -722px;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-power {
  background-position: 0 -144px;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-print {
  background-position: 0 -577px;
}

/* line 60, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-search {
  background-position: 0 -289px;
}
